<h1>Recuperador de contraseñas</h1>
<h2>Para poder recuperar la contraseña vinculada a su cuenta de inscrpcion a finales,debera ingresar su DNI dentro de la casilla
  y presionar el boton de enviar.Automaticamante se le enviara un mail al su correo electronico con su contraseña actual</h2>
  <form class="form">
    <div class="inputDni">
      <mat-form-field>
        <mat-icon matPrefix>check</mat-icon>
        <mat-label>Ingrese su dni</mat-label>
        <input matInput type="text" name="_dni">
      </mat-form-field>
    </div>
    <div class="inputDni">
      <p>
        <button mat-raised-button color="primary" id="loginBtn">Enviar</button>
        <button mat-raised-button id="cancelBtn">Cancelar</button>
    </p>
    </div>
  </form>
