<div class="helpBtn">
  <button mat-mini-fab matTooltip="Ayuda" color="primary" class="help-button">
      <mat-icon>help</mat-icon>
  </button>
</div>
<br>
<form class="form mat-elevation-z8">
  <div>
    <h1>RECUPERADOR DE CONTRASEÑAS</h1>
    <br>
    <h2>Para poder recuperar la contraseña vinculada a su cuenta de inscripcion a finales,debera ingresar su DNI dentro de la casilla
    y presionar el boton "enviar".
    Automaticamante se le enviara un mail a su correo electronico con su contraseña actual</h2>
    <br>
  </div>
    <div class="inputDni">
      <mat-form-field>
        <mat-icon matPrefix>badge</mat-icon>
        <mat-label>Ingrese su dni</mat-label>
        <input matInput type="text" name="_dni">
      </mat-form-field>
    </div>
    <div class="inputDni">
      <p>
        <button mat-fab extended color="accent" id="loginBtn">Enviar</button>
        <button mat-fab extended color="accent" id="cancelBtn">Cancelar</button>
    </p>
    </div>
</form>