
<mat-card>
    <mat-card-header>
      <mat-card-title>NOMBRE PROFESOR</mat-card-title>
  
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Modificar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Mesas</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
  
        <!-- curso Column -->
        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef>Año</th>
          <td mat-cell *matCellDef="let element">{{element.curso}}</td>
        </ng-container>
      
        <!-- titular Column -->
        <ng-container matColumnDef="titular">
          <th mat-header-cell *matHeaderCellDef>titular</th>
          <td mat-cell *matCellDef="let element">{{element.titular}}</td>
        </ng-container>
      
        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>fecha</th>
          <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
        </ng-container>
      
        <!-- eliminar Column -->
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row" class="button-cell">
            <button mat-mini-fab color="primary" (click)="eliminarMesa()">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
    </mat-card-content>
  </mat-card>
  <br>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="volver()">Volver</button>
    <button mat-raised-button color="warn" (click)="eliminar()">Eliminar Profesor</button>
  </div>