<nav class="navbar navbar-expand-lg">

  <img src="../../../assets/imgs/LOGO_PUBLI.png" alt="" class="logo-container">
  <div class="navbar-content">
    <p class="navbar-nav me-auto mb-2 mb-lg-0 titulo">INSCRIPCION A FINALES</p>
    <div class="right-section">
      <span class="nombre-usuario">{{loggedUser}}</span>
      <button mat-fab extended class="cerrar-sesion" (click)="closeSesionDialog()">Cerrar Sesión</button>
    </div>
  </div>
</nav>

<br>

<div class="home-menu mat-elevation-z8">
  <div class="left-panel">
    <div class="help-section">
      <button mat-mini-fab matTooltip="Ayuda" class="help-button" (click)="openHelpDialog()">
        <mat-icon>help</mat-icon>
      </button>
      <span id="carrera">{{career}}</span>
    </div>
    <br>
    <mat-card class="calendary">
      <mat-calendar #examDatePicker [minDate]="minDate" [maxDate]="maxDate" ></mat-calendar>
    </mat-card>
  </div>
  <div class="right-panel">
    <mat-tab-group animationDuration="0ms" fitInkBarToContent>
      <mat-tab label="Mesas Disponibles">
        <div *ngFor="let available of availableExamDates " class="cards">
          <app-register-cards [subject]="available.subject" [date]="available.date" [limitInscriptionDate]="available.limitInscriptionDate" (click)="openDialog()"></app-register-cards>
        </div>
      </mat-tab>
      <mat-tab label="Mesas inscriptas">
        <div *ngFor="let registered of registeredExamDates" class="cards">
          <app-register-cards [subject]="registered.subject" [date]="registered.date" [limitInscriptionDate]="registered.limitInscriptionDate" (click)="openDialog()"></app-register-cards>
        </div>
      </mat-tab> 
    </mat-tab-group>
  </div>
</div>
<nav class="navbar navbar-expand-lg contact-data"> 
  <div class="contact-info">
    Mantente en contacto
    <ul>
      <li> <mat-icon>public</mat-icon>&nbsp; <a href="https://hilet.com" target="_blank">https://hilet.com</a> </li>
      <li> <mat-icon>call</mat-icon>&nbsp; Tel: +54 (223) 4932525</li>
      <li> <mat-icon>mail</mat-icon>&nbsp; informes@hilet.com</li>
    </ul>
  </div>
  <div class="navbar-content">
    <div class="element1"></div>
    <div class="element2"></div>
    <div class="centered-content">
      <div class="copyright">
        &copy; 2023 Hilet. Todos los derechos reservados.
      </div>
    </div>
  </div>
  <div class="right-section">
    <p>En caso de necesitar ayuda extra contacte con la administración de HILET</p>
  </div>
</nav>