.home-menu{
    background-color: #ECECEC;
    border-radius: 30px;
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 767px) {
    .home-menu {
      flex-direction: column;
    }
  
    .left-panel,
    .right-panel {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .home-menu {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .left-panel {
      flex: 1;
      margin-right: 10px;
    }
  
    .right-panel {
      flex: 1;
      margin-left: 10px;
    }
  }

.help-button{
    background-color: #5CA47A;
    margin-right: 20px;
}

.help-section{
    margin-left: 15%;
    font-size: x-large;
    margin-top: 10px;
}


.left-panel {
    order: 1;
    flex:1;
}

.cards{
    margin: 2%;
}

.right-panel {
    border-style: solid;
    border-radius: 30px;
    border-width: 0.5px;
    border-color: #006600;
    order: 2;
    flex:1;
    
 }

.calendary{
    border-radius: 30px;
    background-color: #ECECEC;
    color: #5CA47A;
}

.contacto{
    padding-left: 2.5%;
    margin-top: 1%;
    padding-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .logo-container {
    position: absolute;
    margin-right: 20px; /* Ajusta el margen derecho según tu preferencia */
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-top: 70%;
    margin-left: 10%;
    width: 150px;
  }
  
  .titulo {
    margin-left: 10%;
    font-size: x-large;
    flex: 1; /* Permite que el título ocupe el espacio restante en el navbar */
  }

  .logo-container {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
  
  
  
  /* Media queries para estilos responsive */
  @media (max-width: 768px) {
    .logo-container {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  
    .logo {
      width: 70px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }
  
    .titulo {
      margin-left: 10px; /* Ajusta el margen izquierdo para pantallas más pequeñas */
      font-size: medium;
    }
  }