.home-main{
    background-color: white;
}

.help-button{
    margin-left: 10px;
    margin-right: 10px;
}

.exam-menu{
    margin: 16px;
}

.help-section{
   padding-top: 10px;
}

.exam-container {
    align-items: center;
    display: flex;
    @media screen and (max-width:750px) {
        display: block;
    }
}

.exam-card{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    min-height: 100px;
    min-width: 100px;
    max-width: 400px;
}

.toolbar{
    background-color: #213F60;
    color: #fff;
    justify-content: space-between;
}

.toolbar-text{
    font-size: 14px;
    margin-right: 10px;
}