<div class="home-container">
  <app-home-toolbar></app-home-toolbar>
  <!-- Ayuda y nombre carrera -->
  <div class="home-menu">
    <div class="home-center">
      <div class="left-panel">
        <div class="help-section">
          <button mat-mini-fab matTooltip="Ayuda" class="help-button">
              <mat-icon>help</mat-icon>
          </button>
          <span id="carrera">{{career}}</span>
        </div>
        <br>
        <mat-tab-group animationDuration="0ms" fitInkBarToContent>
            <mat-tab label="Mesas Disponibles" >
              <div class="cards">
                <app-register-cards></app-register-cards>
              </div>
            </mat-tab>
            
            <mat-tab label="Mesas inscriptas" >   
              
            </mat-tab> 
        </mat-tab-group>
      </div>  
      <div class="right-panel">
        <mat-card class="calendary">
          <mat-calendar></mat-calendar>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="contacto"> 
   Mantente en contacto
    <ul>
      <li> <mat-icon>public</mat-icon>&nbsp; <a href="https://hilet.com">https://hilet.com</a> </li>
      <li> <mat-icon>call</mat-icon>&nbsp; Tel: +54 (223) 4932525</li>
      <li> <mat-icon>mail</mat-icon>&nbsp; informes@hilet.com</li>
    </ul>
  </div>
</div>