<h2 mat-dialog-title>Cargar Mesas</h2>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Carrera</mat-label>
    <mat-select>
      <mat-option value="one">Analista</mat-option>
      <mat-option value="two">Publicidad</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Nombre de la materia">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titular</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suplente 1</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suplente 2</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <!--https://www.npmjs.com/package/@angular-material-components/datetime-picker  ARREGLAR PARA USAR ESTA-->
   <!--CON LA BARRA ESPACIADORA SE DESPLIEGA-->
  <mat-form-field>
    <mat-label>Primer llamado</mat-label>
    <input matInput type="datetime-local" placeholder="start date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Segundo llamado</mat-label>
    <input matInput type="datetime-local" placeholder="start date">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Save</button>
</div>