<h2 mat-dialog-title>Agregar Alumno</h2>
<div mat-dialog-content class="dialog-content">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input [formControl]="nombre" matInput placeholder="Nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input [formControl]="apellido" matInput placeholder="Apellido">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Documento</mat-label>
    <input [formControl]="documento" matInput placeholder="Documento">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input [formControl]="email" matInput type="email" placeholder="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Carrera</mat-label>
    <mat-select [(ngModel)]="idCarreraSeleccionada">
      <mat-option *ngFor="let c of carreras" value={{c.id}}>{{c.nombre}}</mat-option>
    </mat-select> 
  </mat-form-field>

  <mat-form-field>
    <mat-label>Plan</mat-label>
    <mat-select [(ngModel)]="idPlanSeleccionado" [disabled]="idCarreraSeleccionada <= 0">
      <div *ngIf="idCarreraSeleccionada === 1">
        <mat-option value=1 >Plan de Analista</mat-option>
      </div>
      <div *ngIf="idCarreraSeleccionada === 2">
        <mat-option value=2 >Plan de Publicidad</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="guardarEstudiante()">Guardar</button>
</div>