<h2 mat-dialog-title>Agregar Alumno</h2>
<div mat-dialog-content class="dialog-content">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Apellido">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Documento</mat-label>
    <input matInput placeholder="Documento">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Carrera</mat-label>
    <mat-select [(ngModel)]="carreraSeleccionada" (selectionChange)="seleccionarCarrera()">
      <mat-option value="analista">Analista de Sistemas</mat-option>
      <mat-option value="publicidad">Publicidad</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Plan</mat-label>
    <mat-select [disabled]="idCarreraSeleccionada <= 0">
      <div *ngIf="idCarreraSeleccionada === 1">
        <mat-option value="analista">Plan de Analista</mat-option>
      </div>
      <div *ngIf="idCarreraSeleccionada === 2">
        <mat-option value="publicidad">Plan de Publicidad</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true">Guardar</button>
</div>