.toolbar{
    justify-content: space-between;
    background-color: #5CA47A;
    padding-top: 2%;
    margin-bottom: 2%;
    
}
img{
    display: flex;
    margin-left: 50px;
    margin-top: 15%;
    width: 150px;
    height: 50;
}

.left-section{
    display: flex;
}

.toolbar-text{
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20%;
    font-size: xx-large;
}

.close-session{
    height: 70px;
    font-size: 20px;
    background-color: #999999; 
    color: #000000;
}